

<ul class="nav flex-column bg-black">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ path('app_account') }}">Mes Commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Me Déconnecter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_modify-pswd') }}">Modifier mon Mot de Passe</a>
    </li>
</ul>






