{% extends 'base.html.twig' %}



{% block body %}



    <div class="container my-5">

        <h1>Profil</h1>
        <a href="{{ path('app_logout') }}">Me Déconnecter</a>
        <a href="{{ path('app_account_modify-pswd') }}">Modifier mon Mot de Passe</a>
    </div>


{% endblock %}
