{% extends 'base.html.twig' %}



{% block body %}



    <div class="container my-5">

        <h1>Espace Membre</h1>

        <h2>Modifier mon Mot de Passe</h2>


        {{ form(modifyPasswd) }}
    </div>


{% endblock %}
